<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="bodyContainer">
    	<div id="options">
	        <h1><%= title %></h1>
	    	<p>Welcome to <%= title %></p>
		    <div class="dropdown">
			  <button onclick="expandBoroughs();" class="dropbtn">Jump To Borough</button>
			  <div id="boroughDropdown" class="dropdown-content">
			    <button onclick="mapJumpTo('Manhattan');">Manhattan</button>
			    <button onclick="mapJumpTo('Brooklyn');">Brooklyn</button>
			    <button onclick="mapJumpTo('Bronx');">Bronx</button>
			    <button onclick="mapJumpTo('Queens');">Queens</button>
			    <button onclick="mapJumpTo('Staten Island');">Staten Island</button>
			  </div>
			  <p>
			  	Jump to location:
			  	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
			  </p>
			</div>
		</div>
	    <div id="map"></div>
    </div>





    <!-- ********** MAPS JAVASCRIPT ********** -->
    <script>window.binList = <%-JSON.stringify(data)%>;</script>

    <script type="text/javascript" src="/javascripts/map.js"></script>

    <!-- ********** HTML ELEMENTS JAVASCRIPT ********** -->
    <script>
    	function expandBoroughs() {
    		document.getElementById("boroughDropdown").classList.toggle("show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn')) {

		    var dropdowns = document.getElementsByClassName("dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}

		function mapJumpTo(borough){
			switch(borough){
				case "Manhattan":
					setMapCenter(40.769065, -73.973608, 13);
					break;
				case "Brooklyn":
					setMapCenter(40.674576, -73.941593, 13);
					break;
				case "Bronx":
					setMapCenter(40.840211, -73.876641, 13);
					break;
				case "Queens":
					setMapCenter(40.727623, -73.826426, 13);
					break;
				case "Staten Island":
					setMapCenter(40.585205, -74.141407, 13);
					break;
			}
		}

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqpLYMJ-PPUa4InFWr566c0fdc0ATNQsA&libraries=places&callback=initMap">
    </script>
  </body>
</html>
